@CHARSET "UTF-8";


.draggable{
	top:50px;
	left:50px;	
	width:300px;
	height:300px;
	position:absolute;
}

.overlay_container,.overlay_container img{
	width: 700px;
	height:500px;	
}

.overlay_container{
	top:300px;
	left:100px;	
	
	background-color:black;
	position:absolute;
}

.overlay_top {
	position:absolute;
	background-color: #FFFFFF;
    opacity: 0.5;
	border-bottom:1px solid #000000;
}

.overlay_left {
	position:absolute;
	background-color: #FFFFFF;
    opacity: 0.5;
	border-right:1px solid #000000;
}

.overlay_right {
	position:absolute;
	background-color: #FFFFFF;
    opacity: 0.5;
	border-left:1px solid #000000;
}

.overlay_bottom {
	position:absolute;
	background-color: #FFFFFF;
    opacity: 0.5;
	border-top:1px solid #000000;
}

.ui-icon, .ui-widget-content .ui-icon{
	background-image:none;
	background-color:#FFFFFF;
	opacity: 0.5;
	border:1px solid #000;
}
